<h1>Editing play action group</h1>

<%= render "form", play_action_group: @play_action_group %>

<br>

<div>
  <%= link_to "Show this play action group", @play_action_group %> |
  <%= link_to "Back to play action groups", play_action_groups_path %>
</div>
