<p style="color: green"><%= notice %></p>

<h1>Play action groups</h1>

<div id="play_action_groups">
  <% @play_action_groups.each do |play_action_group| %>
    <%= render play_action_group %>
    <p>
      <%= link_to "Show this play action group", play_action_group %>
    </p>
  <% end %>
</div>

<%= link_to "New play action group", new_play_action_group_path %>
