<h1>Editing shot grade</h1>

<%= render "form", shot_grade: @shot_grade %>

<br>

<div>
  <%= link_to "Show this shot grade", @shot_grade %> |
  <%= link_to "Back to shot grades", shot_grades_path %>
</div>
