<p style="color: green"><%= notice %></p>

<h1>Plays</h1>

<div id="plays">
  <% @plays.each do |play| %>
    <%= render play %>
    <p>
      <%= link_to "Show this play", play %>
    </p>
  <% end %>
</div>

<%= link_to "New play", new_play_path %>
