<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      HoopStats.io
    </a>
  </div>

  <% if user_signed_in? %>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><%= link_to "Dashboard", dashboard_index_path, class: "nav-link px-2" %></li>
    <li><%= link_to "Games", games_path, class: "nav-link px-2" %></li>
    <li><%= link_to "Teams", teams_path, class: "nav-link px-2" %></li>
    <li><%= link_to "Players", players_path, class: "nav-link px-2" %></li>
  </ul>
  <% end %>

</header>