<p style="color: green"><%= notice %></p>

<h1>Season teams</h1>

<div id="season_teams">
  <% @season_teams.each do |season_team| %>
    <%= render season_team %>
    <p>
      <%= link_to "Show this season team", season_team %>
    </p>
  <% end %>
</div>

<%= link_to "New season team", new_season_team_path %>
