<%= form_with(model: teammate) do |form| %>
  <% if teammate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teammate.errors.count, "error") %> prohibited this teammate from being saved:</h2>

      <ul>
        <% teammate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
