<%= form_with(model: shot_type) do |form| %>
  <% if shot_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shot_type.errors.count, "error") %> prohibited this shot_type from being saved:</h2>

      <ul>
        <% shot_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
